#ranking-list {
    margin: 0 auto;
    padding: 10px 15px;
    width: 80%;
    max-height: 310px;
    overflow: auto;

    background-color: white;
	box-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
}

#ranking-list ul {
    padding: 0;
}

#ranking-list ul li {
    margin: 0;
    padding: 0 100px;
    display: block;

    font-size: 25px;
    border-bottom: 1px solid black;
}

#ranking-list ul li p{
    text-align-last: justify;
}
