#ranking-list {
    width: 80%;
    max-height: 310px;
    margin: 0 auto;
    padding: 10px 15px;

    overflow: auto;

    background-color: white;
	box-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
}

#ranking-list table {
    width: 100%;
    padding: 5px 15px;
    margin: 0 auto;
  
    border-collapse: collapse;
}
  
#ranking-list table tr + tr {
    border-bottom: 1px solid #595959;
}
  
#ranking-list table tr th {
    font-size: 26px;
}
  
#ranking-list table tr td {
    text-align: center;
    padding: 15px 3px;
    font-size: 22px;
}