h2 { 
    text-align: center;
    color: #262626;
    font-size: 1.7em;		
}

section {
    width:23%;
    position: absolute;

    border: 0.4em ridge #c5c5c5;
}

#start-container .modal-content .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-container .modal-content .modal-body button {
    height: 100px;
    width: 200px;
    margin-top: 15px;
    font-size: 30px;
}

#rolling-tetris { 
    /* background-image: url("../lib/img/image.jpg"); */
    background-size: 100%;

    margin: 0 auto;
    width: 29%;
    height: 34.5em;

    display: flex;
    position: relative;
    overflow: hidden;

    border: 0.5em ridge #c5c5c5;
}

#rolling-tetris img {
    height: auto;
    width: 100%;
    position: absolute;
    opacity: 0.4;
}


#rolling-tetris button#comecar-game {
    height: 70px;
    width: 300px;
    margin: auto auto;
    padding: 10px 15px 0;

    z-index: 2;

	color: #f2f2f2;
    font-size: 40px;

    border: 1px solid #98989a;
    background-image: url('../lib/img/stone.jpg');
}

#rolling-tetris button#comecar-game:hover {
    border: 2px solid #9d9d9d;
}

#rolling-tetris #tabuleiro {
    z-index: 2;
}

#ranking-player {
    background-image: url("../lib/img/images3.jpg"); 
    background-attachment: fixed;
    background-size: 5vw 5vh;

    text-align: center;

    max-height: 12em;
    top: 39.85em;
    right: 3.5em;
    padding: 5px 0;

    resize: none;
    overflow: auto;
}

#ranking-player table {
    width: 21.5em;
    margin: 0 auto;

    color: white;
}

#ranking-player tr th {
    padding-top: 10px;
    text-align: center;
    border: 1px solid white;
}

#ranking-player tr td {
    border: 1px solid white;
    padding-top: 10px;
}
 



#game-atual {
    background-image: url("../lib/img/images3.jpg"); 
    background-attachment: fixed;
    background-size: 5vw 5vh;

    top: 18.8em;
    right: 3.5em;
}

#game-atual p.dado-do-jogo { 
    color: #ffffff;
    font-size: 1.3em;
    margin-left: 0.5em;
    margin-top: 0.75em; 
}


#game-atual p.dado-do-jogo { 
    color: #ffffff;
    font-size: 1.3em;
    margin-left: 0.5em;
    margin-top: 0.75em; 
}

#game-atual span.dados-do-jogo {
    color: #ffef00;
    font-weight: bold;
}

#game-atual span.dados-do-jogo {
    color: #ffef00;
    font-weight: bold;
}

#menu { 
    background-image: url("../lib/img/images3.jpg"); 
    background-attachment: fixed;
    background-size: 5vw 5vh;

    top: 27em;
    left: 3em;
}

#menu .menu-item { 
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}


#menu a:link, a:visited { 
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover { 
    text-decoration: underline; 
    color: #000000; 
}

#menu a:active { 
    color: #cc0000;
}
