@font-face {
    font-family: minecraft;
    src        : url(../lib/font/Minecraft.ttf);
}
@font-face {
    font-family: arcade;
    src: url(../lib/font/ArcadePI.ttf)
}

body {
    font-size            : 1vw;
    font-family          : minecraft, Arial, sans-serif;
    background-image     : url("../lib/img/background.jpg");
    background-position  : center;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : 100vw 100vh;
}

main {
    margin-bottom: 5%;
}

header>h1 {
    margin-bottom: 10px;
}

header>figure {
    text-align: center;
    padding   : 0px;
    margin    : 0px;
}

header>figure>a>img {
    width  : 50vw;
    margin : 0px;
    padding: 0px;
}


main>section>h2 {
    margin-bottom: 10px;
    text-align   : center;
    font-size    : 3vw;
    color        : black;
    text-shadow  : 0 0 3px white, 0 0 5px white;
}

a {
    text-decoration: none;
}