@font-face {
    font-family: minecraft;
    src        : url(../lib/font/Minecraft.ttf);
}

@font-face {
    font-family: pressStart;
    src        : url(../lib/font/PressStart2P-Regular.ttf)
}

body {
    font-size            : 1vw;
    font-family          : pressStart, Arial, sans-serif;
    background-image     : url("../lib/img/background.jpg");
    background-position  : center;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : 100vw 100vh;
}

main {
    margin-bottom: 5%;
}

header>h1 {
    margin-bottom: 10px;
}

header>figure {
    text-align: center;
    padding   : 0px;
    margin    : 0px;
}

header>figure>a>img {
    width  : 50vw;
    margin : 0px;
    padding: 0px;
}


main>section>h2 {
    margin-bottom: 20px;
    text-align   : center;
    font-size    : 3vw;
    color        : #fff;
    text-shadow  : 2px 4px 5px #000, 1px 2px 5px #fff;
}

a {
    text-decoration: none;
}