<!--Shigi-->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
        <link rel="stylesheet" href="style/template.css"/>
        <link rel="stylesheet" href="style/login.css"/>
        <meta charset="utf-8"/>
        <title>MINETETRIS</title>
    </head>
    <body>
        
        <header>
            <figure>
                <img src="img/minetetris.png" alt="Logo"/>
            </figure>
        </header>

    	<main>

    		<section>
    			<h2>Pagina de Login</h2>
    			<form>
    				<input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="senha" placeholder="Senha"/>
                    <input id="btn_submit" type="submit" value="Login"/>
                    <label>Não tem conta?</label>
                    <a href="cadastro.html" class="center">Criar Nova Conta</a>
    			</form>
    		</section>

    	</main>

    </body>
</html>
