main > section > form{
	background-color: white;
	margin: 0% auto;
	display: grid; /*a div vira uma tabela*/
	grid-template-columns: 1fr;
	width: 25%;
	padding-top: 2%;
	padding-bottom: 1%;
	box-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
}

main > section > form > label{
	text-align: center;
}

main > section > form > input{
	margin: 0% auto;
	margin-bottom: 10%;
	width: 80%;
	height: 70%;
	font-family: minecraft, Arial, sans-serif;
}

::-webkit-input-placeholder { /* Edge */
  font-family: minecraft, Arial, sans-serif;
}

/*Texto dentro do formulario: atributo placeholder do input, cada navegador e de um jeito por isso tem 3*/
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: minecraft, Arial, sans-serif;
}

::placeholder {
  font-family: minecraft, Arial, sans-serif;
}

/* propriedades de estilo do botão para submeter*/
main > section > form > input[type="submit"]{
	width: 50%;
	cursor: pointer;
	background-color: rgb(182, 191, 182);
}

/* hover: quando passa o mouse por cima, oq acontece*/
main > section > form > input[type="submit"]:hover{
	filter: brightness(112%);
}

.center{
    text-align: center;
}
