@font-face {
    font-family: minecraft;
    src: url(../font/Minecraft.ttf);
}
  
body{
    font-size: 1vw;
    font-family: minecraft, Arial, sans-serif;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
  
header > h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 5vw;
    color: rgb(182, 191, 182);
    text-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
}

main{
	margin-bottom: 5%;
}

main > section > h2{
    margin-bottom: 10px;
	text-align: center;
	font-size: 3vw;
	color: black;
	text-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}

