<!--Joao-->
<!DOCTYPE html>
<html lang="pt">
    <head>
    	<link href="../lib/img/favicon.ico" rel="icon" type="image/x-icon"/>
        <link rel="stylesheet" href="../styles/template.css"/>
        <link rel="stylesheet" href="../styles/cadastro.css"/>
        <meta charset="utf-8"/>
        <title>MINETETRIS</title>
    </head>
    <body>
    	<header>
        	<figure>
                <a href="rt.html">
                    <img src="../lib/img/minetetris.png" alt="Logo"/>
                </a>
            </figure>
        </header>
        <main>
            <section>
                <h2>Cadastro</h2>
                <form action="rt.html">
                    <label for="nome_completo">Nome Completo:</label>
                    <br/>
                    <input type="text" id="nome_completo" placeholder="Insira seu nome completo" title="Nome Completo" minlength="3">
                    <label for="data_nascimento">Data de Nascimento:</label>
                    <br/>
                    <input type="date" id="data_nascimento" title="Data de nascimento" min="1900-01-01" max="2017-12-31">
                    <label for="CPF">CPF:</label>
                    <br/>
                    <input type="text" id="CPF" placeholder="Insira seu CPF" title="CPF: xxx.xxx.xxx-xx" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" maxlength="14">
                    <label for="telefone">Telefone:</label>
                    <br/>
                    <input type="tel" id="telefone" placeholder="Insira seu telefone" title="Telefone: (xx)xxxxx-xxxx" pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}" maxlength="14">
                    <label for="email">Email:</label>
                    <br/>
                    <input type="email" id="email" placeholder="Insira seu email" title="E-mail">
                    <label for="username">Username:</label>
                    <br/>
                    <input type="text" id="username" placeholder="Escolha um username" title="Username" minlength="3">
                    <label for="senha">Senha:</label>
                    <br/>
                    <input type="password" id="senha" placeholder="Escolha uma senha" title="Senha" minlength="8">
                    <label for="senha2">Confirme a senha:</label>
                    <br/>
                    <input type="password" id="senha2" placeholder="Confirme sua senha" title="Confirme a Senha" minlength="8">
                    <input id="btn_submit" type="submit" value="Criar Conta"/>
                </form>
            </section>
        </main>
    </body>
</html>
