<!--Roque-->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <link href="../lib/img/favicon.ico" rel="icon" type="image/x-icon"/>
        <link rel="stylesheet" href="../styles/template.css"/>
        <link rel="stylesheet" href="../styles/ranking.css"/>
        <meta charset="utf-8"/>
        <title>MINETETRIS</title>
    </head>
    <body>
        <header>
            <figure>
                <a href="rt.html">
                    <img src="../lib/img/minetetris.png" alt="Logo"/>
                </a>
            </figure>
        </header>
        <main>
            <section>
                <h2>Ranking global</h2>
                <div id="ranking-list">
                    <ul>
                        <li><p>1- Roque / 665 pontos / nv. 37 / tempo: 26:52 </p></li>
                        <li><p>2- Roque / 550 pontos / nv. 34 / tempo: 25:51 </p></li>
                        <li><p>3- Roque / 432 pontos / nv. 33 / tempo: 23:38 </p></li>
                        <li><p>4- Roque / 401 pontos / nv. 31 / tempo: 22:59 </p></li>
                        <li><p>5- Mateus / 350 pontos / nv. 29 / tempo: 21:37 </p></li>
                        <li><p>6- Shigi / 287 pontos / nv. 25 / tempo: 19:42 </p></li>
                        <li><p>7- Lucas / 256 pontos / nv. 23 / tempo: 18:02 </p></li>
                        <li><p>8- Jão / 30 pontos / nv. 2 / tempo: 00:31 </p></li>
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>
